/**
    Import Roboto Font
**/
@import "https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic&subset=latin,cyrillic";

html, body {
    font-family: "Roboto", sans-serif;
    height:100%;
    background: #e5e5e5;
}

.col-md-2, .col-md-12 {
    padding:0;
}

.msg_container_base{
    margin: 0 0 92px 0;
    padding: 0 10px 10px;
    min-height: 500px;
    overflow-x:hidden;
}

.msg_receive{
    padding-left:0;
    margin-left:0;
    background: #FFFFFF;
}

.msg_sent{
    padding-bottom:10px !important;
    margin-right:0;
    background: #ECEFF1;
}

.messages {
    padding: 10px;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    max-width:100%;
}

.messages > p {
    font-size: 13px;
    margin: 0 0 0.2rem 0;
}

.messages > time {
    font-size: 11px;
    color: #ccc;
}

.msg_container {
    padding: 10px;
    overflow: hidden;
    display: flex;
}

img {
    display: block;
    width: 100%;
}

.avatar {
    position: relative;
}

.base_receive > .avatar:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border: 5px solid #FFF;
    border-left-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
}

.base_sent {
    justify-content: flex-end;
    align-items: flex-end;
}

.base_new_user {
    justify-content: center;
    align-items: center;
}

.new_user {
    background: #2196f3;
    color: #FFFFFF;
}

.base_sent > .avatar:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    border: 5px solid white;
    border-right-color: transparent;
    border-top-color: transparent;
    box-shadow: 1px 1px 2px rgba(black, 0.2);
}

.msg_sent > time {
    float: right;
}

.msg_container_base::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

.msg_container_base::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

.msg_container_base::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}

.btn-group.dropup{
    position:fixed;
    left:0px;
    bottom:0;
}

.panel-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px 30px 10px 15px !important;
}

.chat-submit-button {
    height: 100%;
    min-height: 54px;
    width: 100%;
}

.app {
    display: none;
}

/**
    Landing page!
**/
.landing-page {
    height: 100%;
    width: 100%;
    display: flex;
    align-content: center;
    align-items: center;
}

.landing-page-form {
    display: flex;
    width: 100%;
    align-content: center;
    align-items: center;
}

input.landing-page-margin {
    margin: 0 50px;
}

button.landing-page-margin {
    margin: 0 50px 0 0;
}

/** Button **/
/* -- Main style ------------------------------------ */
.btn {
    font-family: "Roboto", 'Helvetica Neue, Helvetica, Arial', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.1;
    text-transform: uppercase;
    letter-spacing: inherit;
    color: rgba(255, 255, 255, 0.87);
}
.btn-default,
.btn-link {
    color: rgba(0, 0, 0, 0.87);
}
/* -- Buttons style ------------------------------------ */
.btn {
    outline: 0;
    outline-offset: 0;
    border: 0;
    border-radius: 2px;
    transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    -webkit-transition: all 0.15s ease-in-out;
}
.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus,
.btn.active:focus {
    outline: 0;
    outline-offset: 0;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}
/* -- Buttons types -------------------------------- */
.btn-raised {
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
}
.btn-raised:active,
.btn-raised.active,
.btn-raised:active:focus,
.btn-raised.active:focus {
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.btn-raised:focus {
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.btn.btn-circle {
    padding: 0;
    border-radius: 50%;
}
/* -- Buttons colors -------------------------------- */
.btn-default,
.dropdown-toggle.btn-default {
    background-color: #fff;
}
.btn-default:hover,
.dropdown-toggle.btn-default:hover {
    background-color: #e5e5e5;
}
.btn-default:active,
.dropdown-toggle.btn-default:active,
.btn-default.active,
.dropdown-toggle.btn-default.active {
    background-color: #e5e5e5;
}
.btn-default:focus,
.dropdown-toggle.btn-default:focus {
    background-color: #cccccc;
}
.btn-default:disabled,
.dropdown-toggle.btn-default:disabled,
.btn-default.disabled,
.dropdown-toggle.btn-default.disabled,
.btn-default[disabled],
.dropdown-toggle.btn-default[disabled] {
    background-color: #b3b3b3;
}
.btn-default .ink,
.dropdown-toggle.btn-default .ink {
    background-color: #b8b8b8;
}
.btn-flat.btn-default {
    color: #212121;
    background-color: transparent;
}
.btn-flat.btn-default:hover {
    color: #141414;
    background-color: #e5e5e5;
}
.btn-flat.btn-default:active,
.btn-flat.btn-default.active {
    color: #020202;
    background-color: #cccccc;
}
.btn-flat.btn-default:focus {
    color: #000;
    background-color: #cccccc;
}
.btn-flat.btn-default .ink {
    background-color: #808080;
}
.btn-primary,
.dropdown-toggle.btn-primary {
    background-color: #5677fc;
}
.btn-primary:hover,
.dropdown-toggle.btn-primary:hover {
    background-color: #4e6cef;
}
.btn-primary:active,
.dropdown-toggle.btn-primary:active,
.btn-primary.active,
.dropdown-toggle.btn-primary.active {
    background-color: #4e6cef;
}
.btn-primary:focus,
.dropdown-toggle.btn-primary:focus {
    background-color: #455ede;
}
.btn-primary:disabled,
.dropdown-toggle.btn-primary:disabled,
.btn-primary.disabled,
.dropdown-toggle.btn-primary.disabled,
.btn-primary[disabled],
.dropdown-toggle.btn-primary[disabled] {
    background-color: #b3b3b3;
}
.btn-primary .ink,
.dropdown-toggle.btn-primary .ink {
    background-color: #3b50ce;
}
.btn-flat.btn-primary {
    color: #5677fc;
    background-color: transparent;
}
.btn-flat.btn-primary:hover {
    color: #4e6cef;
    background-color: #e5e5e5;
}
.btn-flat.btn-primary:active,
.btn-flat.btn-primary.active {
    color: #455ede;
    background-color: #cccccc;
}
.btn-flat.btn-primary:focus {
    color: #3b50ce;
    background-color: #cccccc;
}
.btn-flat.btn-primary .ink {
    background-color: #808080;
}
.btn-success,
.dropdown-toggle.btn-success {
    background-color: #259b24;
}
.btn-success:hover,
.dropdown-toggle.btn-success:hover {
    background-color: #0a8f08;
}
.btn-success:active,
.dropdown-toggle.btn-success:active,
.btn-success.active,
.dropdown-toggle.btn-success.active {
    background-color: #0a8f08;
}
.btn-success:focus,
.dropdown-toggle.btn-success:focus {
    background-color: #0a7e07;
}
.btn-success:disabled,
.dropdown-toggle.btn-success:disabled,
.btn-success.disabled,
.dropdown-toggle.btn-success.disabled,
.btn-success[disabled],
.dropdown-toggle.btn-success[disabled] {
    background-color: #b3b3b3;
}
.btn-success .ink,
.dropdown-toggle.btn-success .ink {
    background-color: #056f00;
}
.btn-flat.btn-success {
    color: #259b24;
    background-color: transparent;
}
.btn-flat.btn-success:hover {
    color: #0a8f08;
    background-color: #e5e5e5;
}
.btn-flat.btn-success:active,
.btn-flat.btn-success.active {
    color: #0a7e07;
    background-color: #cccccc;
}
.btn-flat.btn-success:focus {
    color: #056f00;
    background-color: #cccccc;
}
.btn-flat.btn-success .ink {
    background-color: #808080;
}
.btn-info,
.dropdown-toggle.btn-info {
    background-color: #03a9f4;
}
.btn-info:hover,
.dropdown-toggle.btn-info:hover {
    background-color: #039be5;
}
.btn-info:active,
.dropdown-toggle.btn-info:active,
.btn-info.active,
.dropdown-toggle.btn-info.active {
    background-color: #039be5;
}
.btn-info:focus,
.dropdown-toggle.btn-info:focus {
    background-color: #0288d1;
}
.btn-info:disabled,
.dropdown-toggle.btn-info:disabled,
.btn-info.disabled,
.dropdown-toggle.btn-info.disabled,
.btn-info[disabled],
.dropdown-toggle.btn-info[disabled] {
    background-color: #b3b3b3;
}
.btn-info .ink,
.dropdown-toggle.btn-info .ink {
    background-color: #0277bd;
}
.btn-flat.btn-info {
    color: #03a9f4;
    background-color: transparent;
}
.btn-flat.btn-info:hover {
    color: #039be5;
    background-color: #e5e5e5;
}
.btn-flat.btn-info:active,
.btn-flat.btn-info.active {
    color: #0288d1;
    background-color: #cccccc;
}
.btn-flat.btn-info:focus {
    color: #0277bd;
    background-color: #cccccc;
}
.btn-flat.btn-info .ink {
    background-color: #808080;
}
.btn-warning,
.dropdown-toggle.btn-warning {
    background-color: #ffc107;
}
.btn-warning:hover,
.dropdown-toggle.btn-warning:hover {
    background-color: #ffb300;
}
.btn-warning:active,
.dropdown-toggle.btn-warning:active,
.btn-warning.active,
.dropdown-toggle.btn-warning.active {
    background-color: #ffb300;
}
.btn-warning:focus,
.dropdown-toggle.btn-warning:focus {
    background-color: #ffa000;
}
.btn-warning:disabled,
.dropdown-toggle.btn-warning:disabled,
.btn-warning.disabled,
.dropdown-toggle.btn-warning.disabled,
.btn-warning[disabled],
.dropdown-toggle.btn-warning[disabled] {
    background-color: #b3b3b3;
}
.btn-warning .ink,
.dropdown-toggle.btn-warning .ink {
    background-color: #ff8f00;
}
.btn-flat.btn-warning {
    color: #ffc107;
    background-color: transparent;
}
.btn-flat.btn-warning:hover {
    color: #ffb300;
    background-color: #e5e5e5;
}
.btn-flat.btn-warning:active,
.btn-flat.btn-warning.active {
    color: #ffa000;
    background-color: #cccccc;
}
.btn-flat.btn-warning:focus {
    color: #ff8f00;
    background-color: #cccccc;
}
.btn-flat.btn-warning .ink {
    background-color: #808080;
}
.btn-danger,
.dropdown-toggle.btn-danger {
    background-color: #ff5722;
}
.btn-danger:hover,
.dropdown-toggle.btn-danger:hover {
    background-color: #f4511e;
}
.btn-danger:active,
.dropdown-toggle.btn-danger:active,
.btn-danger.active,
.dropdown-toggle.btn-danger.active {
    background-color: #f4511e;
}
.btn-danger:focus,
.dropdown-toggle.btn-danger:focus {
    background-color: #e64a19;
}
.btn-danger:disabled,
.dropdown-toggle.btn-danger:disabled,
.btn-danger.disabled,
.dropdown-toggle.btn-danger.disabled,
.btn-danger[disabled],
.dropdown-toggle.btn-danger[disabled] {
    background-color: #b3b3b3;
}
.btn-danger .ink,
.dropdown-toggle.btn-danger .ink {
    background-color: #d84315;
}
.btn-flat.btn-danger {
    color: #ff5722;
    background-color: transparent;
}
.btn-flat.btn-danger:hover {
    color: #f4511e;
    background-color: #e5e5e5;
}
.btn-flat.btn-danger:active,
.btn-flat.btn-danger.active {
    color: #e64a19;
    background-color: #cccccc;
}
.btn-flat.btn-danger:focus {
    color: #d84315;
    background-color: #cccccc;
}
.btn-flat.btn-danger .ink {
    background-color: #808080;
}
/* -- Buttons sizes -------------------------------- */
.btn {
    min-width: 88px;
    padding: 10px 14px;
}
.btn-lg,
.btn-group-lg > .btn {
    min-width: 122px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3;
}
.btn-sm,
.btn-group-sm > .btn {
    min-width: 64px;
    padding: 4px 12px;
    font-size: 12px;
    line-height: 1.5;
}
.btn-xs,
.btn-group-xs > .btn {
    min-width: 46px;
    padding: 2px 10px;
    font-size: 10px;
    line-height: 1.5;
}
.btn-circle {
    width: 56px;
    height: 56px;
    min-width: 56px;
}
.btn-circle span {
    line-height: 56px;
}
.btn-circle.btn-lg {
    width: 78px;
    height: 78px;
    min-width: 78px;
}
.btn-circle.btn-lg span {
    line-height: 78px;
}
.btn-circle.btn-sm {
    width: 40px;
    height: 40px;
    min-width: 40px;
}
.btn-circle.btn-sm span {
    line-height: 40px;
}
.btn-circle.btn-xs {
    width: 30px;
    height: 30px;
    min-width: 30px;
}
.btn-circle.btn-xs span {
    line-height: 30px;
}
/*-- Button groups --------------------------------- */
.btn-group .btn {
    border-radius: 2px;
}
.btn-group.open .dropdown-toggle {
    outline: 0;
    outline-offset: 0;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}
.btn-group .btn + .btn,
.btn-group .btn + .btn-group,
.btn-group .btn-group + .btn,
.btn-group .btn-group + .btn-group {
    margin-left: 0;
}
.btn-group > .btn:hover,
.btn-group-vertical > .btn:hover {
    z-index: 0;
}
.btn-group > .btn:focus:hover,
.btn-group-vertical > .btn:focus:hover,
.btn-group > .btn:active:hover,
.btn-group-vertical > .btn:active:hover,
.btn-group > .btn.active:hover,
.btn-group-vertical > .btn.active:hover {
    z-index: 2;
}